.logo {
  background-color: rgb(124, 165, 165);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.produtos {
  list-style-type: none;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(224, 159, 61);
  flex-direction: column
}



input {
  font-size: 14pt;
  border: solid 0.5px #000;
  z-index: 1;
  width: 4em;
  height: 3em;
  text-align: center;
}

